version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: erp-dotnet-api
    expose:
      - "8081"
    restart: always

  nginx:
    image: nginx:latest
    container_name: erp-nginx-proxy
    ports:
      - "8081:8081"
    volumes:
      - ./nginx/fginventory.conf:/etc/nginx/conf.d/fginventory.conf:ro
      - ./swagger-ui-master:/usr/share/nginx/pkwms/swagger-ui-master:ro
    depends_on:
      - app
    restart: always
