version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: erp-dotnet-api
    expose:
      - "8081"
    restart: always

  nginx:
    image: nginx:latest
    container_name: erp-nginx-proxy
    ports:
      - "8081:8081"
    volumes:
      - ./nginx/fginventory.conf:/etc/nginx/conf.d/fginventory.conf:ro
      - ./swagger-ui-5.30.2:/usr/share/nginx/fginventory/swagger-ui-5.30.2:ro
      # Mount downloads so updates don't require rebuilding the image
      - ./downloads:/usr/share/nginx/fginventory/downloads:ro
    depends_on:
      - app
    restart: always
